.h6Color{
    color: #fff;
    text-align: center;
}
h3{
    color: #fff;
    position: absolute;
  top: 10;
  left: 0;
  margin-top: 200px;
  /* Border is the new background */
  background: none;
 text-decoration: underline;
  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(-90deg);
}
a{
    cursor: pointer;
}