<div class="row">
    <div class="col-sm-1">
        <div class="card"style="height:300px;">
                <div class="card-body">
                <h3><a routerLink="/ready" routerLinkActive="active">Ready_To_Ship</a></h3>
                </div>
              </div>
</div>
    <div class="col-sm-3">
        <a style="color: #6bb3fd;font-size:18px;text-decoration: underline">Receiving</a>
            <div class="card"style="height:300px;color:#fff;">
                    <div class="card-body">
                  
                    Potential Revenue: <h4 class="d-inline float-right h4Color">$38K</h4><br><br><br>
                     Total Lines:<h4  class="d-inline float-right h4Color" >89</h4><br><br><br>
                    Total Units:<h4  class="d-inline float-right h4Color">3,479</h4><br>
                       
                    </div>
                  </div>
    </div>
    <div class="col-sm-4">
       <h4 class="h6Color">Received</h4>
        <canvas baseChart height="200"
                [datasets]="barChartData"
                [labels]="mbarChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="true"
                [chartType]="'pie'"></canvas>
                <h6 style="text-align: center;color:#fff">Backlog</h6>
     </div>
     <div class="col-sm-4">
        <h4 class="h6Color">Due Next 4 Weeks</h4>
        <canvas baseChart height="200"
                [datasets]="barChartData"
                [labels]="mbarChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="barChartLegend"
                [chartType]="'horizontalBar'"></canvas>
                <h6 style="text-align: center;color:#fff">Backlog</h6>
     </div>

</div>
